<h2>{{company.Name}} ({{company.Symbol}})</h2>

<h3>
    <span class="price">
        {{company.LastPrice | number:'.2'}}</span>

    <span [ngClass]="{'up': company.Change > 0,
                      'down': company.Change < 0}">
        {{company.Change | number:'.2'}}
        ({{company.ChangePercent | number:'.2-2'}}%)</span>
</h3>

<table>
    <tr>
        <td class="param">Open</td>
        <td>{{company.Open | number:'.2'}}</td>
    </tr>

    <tr>
        <td class="param">Day's Range</td>
        <td>{{company.Low | number:'.2'}} &mdash; {{company.High | number:'.2'}}</td>
    </tr>

    <tr>
        <td class="param">Market Cap</td>
        <td>{{company.MarketCap | number}}</td>
    </tr>

    <tr>
        <td class="param">Volume</td>
        <td>{{company.Volume | number}}</td>
    </tr>
</table>
